.b{
    width: 500px;
    height: 500px;
    background-color: #F24472;
    border-radius: 50px;
    height: 150px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
}