.budget-header {
    text-align: center;
    color: black;

    border: solid rgba(242, 68, 114, 0.85);
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    background-color: rgba(255, 169, 192, 0.85);
}

.budget-header p{
   font-size: 11px;
}