.contacts-header {
    text-align: center;
    color: black;
    border: solid #1C4AA6;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
    background-color: #5d8ae6;
  }

.colonnes button[type=submit] {
  width: 50%;
  background-color: #1C4AA6;
  color: white;
  font-size: 0.75em;
  text-align: center;
  padding: 10px 50px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.colonnes button[type=submit]:hover {
  background-color: #F24472;
}

@media only screen and (min-width: 71.25em){
  .contacts-header{
      font-size: 90%;
  }
}
@media only screen and (max-width: 60em){
  .contacts-header{
      font-size: 90%;
  }
}
@media only screen and (max-width: 45em){
  .contacts-header{
      font-size: 80%;
  }
}
@media only screen and (max-width: 33.75em){
  .contacts-header{
      font-size: 70%;
  }
}