.contacts-header {
    text-align: center;
    border-radius: 50px;
    background-color: #1C4AA6;
    color: black;
  }
.contacts-header p {
  font-size: 0.75em;
}

.colonne {
  text-align: center;
}
.colonne2 h3 {
  font-size: 1em;
}

.box {
  width: 120px;
}

@media only screen and (min-width: 71.25em){
  .contacts-header{
      font-size: 100%;
  }
}
@media only screen and (max-width: 60em){
  .contacts-header{
      font-size: 90%;
  }
}
@media only screen and (max-width: 45em){
  .contacts-header{
      font-size: 80%;
  }
}
@media only screen and (max-width: 33.75em){
  .contacts-header{
      font-size: 70%;
  }
}