.Description{
    height: 50px;
    font-size: 10px;
}
.header-client {
    text-align: center;
}

.div-client {
    display: flex;
}
.div-client h4 {
    font-size: 1em;
    text-align: center;
}
.div-client p {
    text-align: center;
    font-size: 0.75em;
}

@media only screen and (min-width: 71.25em){
    .header-client{
        font-size: 100%;
    }
}
@media only screen and (max-width: 60em){
    .header-client{
        font-size: 90%;
        text-align: center;
    }
    .graph{
        display: none;
    }
}
@media only screen and (max-width: 45em){
    .header-client{
        font-size: 80%;
        text-align: center;
    }
    .graph{
        display: none;
    }
}
@media only screen and (max-width: 33.75em){
    .header-client{
        font-size: 70%;
        text-align: center;
    }
    .graph{
        display: none;
    }
}