.explorer-header {
    border-radius: 50px;
    background-color: #F29C50;
    flex-wrap: wrap;
    display: flex;
}

.App-photo {
    height: auto;
    max-width: 90%;
    border-radius: 50px;
  }
.App-ok {
  background-color: #4886D9;
  height: auto;
  max-width: 100%;
  width: 40px;
}
.App-logo {
    height: auto;
    max-width: 100%;
    width: 40px;
  }


@media only screen and (max-width: 60em){
  .App-ok {
    display: none;
  }
  .App-logo {
    display: none;
  }
}
@media only screen and (max-width: 45em){
  .App-ok {
    display: none;
  }
  .App-logo {
    display: none;
  }
}
@media only screen and (max-width: 33.75em){
  .App-ok {
    display: none;
  }
  .App-logo {
    display: none;
  }
}