.NavBar{
    Width: 150px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    border: 2px solid #F24472;
    background-color: #F29C50;
    border-radius: 10px;
    margin: 5px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}
.App-photo {
    max-width: 80%;
    border-radius: 50px;
    
  }

  .iconMenu2{
      max-width: 30%;
      margin: 50px 0px 0px 0px;
  }