.todo-header {
    text-align: center;
    border-radius: 50px;
    background-color: #1C4AA6;
    height: 190px;
    color: black;
  }

  .todo-test h3 {
    font-size: 14px;
    color: black;
  }
  .todo-header p {
    font-size: 10px;
    color: black;
  }

  .hello {
    width: 120px;
  }