.ConteneurDepenses{
    
   
}
.ConteneurBudgetSem{
   
}

.ConteneurBudget{
    
}

.ConteneurBeneficairest{

}

.conteneurs {
    background-color: #5d8ae6;
    border: solid #1C4AA6;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
  }

  .conteneurMeeting{
    background-color: #5d8ae6;
    border: solid #1C4AA6;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
  }

  .conteneurTodo{
    background-color: #5d8ae6;
    border: solid #1C4AA6;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
  }

.conteneurCalen{
    background-color: #5d8ae6;
    border: solid #1C4AA6;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
}